<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>
    <%=title%>
  </title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:title" content="" />
  <meta property="og:type" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg" />
  <!-- Template CSS -->
  <link href="/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />

  <style>
    body {
      font-family: Arial, sans-serif;
    }

    .POPUP {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      justify-content: center;
      align-items: center;
    }

    .popup-content {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
    }

    .close-btn {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
    }
  </style>
</head>

<body>
  <%- include('../partials/sidenav.ejs') -%>

    <main class="main-wrap">
      <header class="main-header navbar">
        <div class="col-search">
          <form class="searchform" onsubmit="event.preventDefault()">
            <div class="input-group">
              <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
              <button class="btn btn-light bg" type="button">
                <i class="material-icons md-search"></i>
              </button>
            </div>
            <datalist id="search_terms">
              <option value="Products"></option>
              <option value="New orders"></option>
              <option value="Apple iphone"></option>
              <option value="Ahmed Hassan"></option>
            </datalist>
          </form>
        </div>
        <div class="col-nav">
          <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside">
            <i class="material-icons md-apps"></i>
          </button>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link btn-icon" href="#">
                <i class="material-icons md-notifications animation-shake"></i>
                <span class="badge rounded-pill">3</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn-icon darkmode" href="#">
                <i class="material-icons md-nights_stay"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
            </li>
            <li class="dropdown nav-item">
              <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                aria-expanded="false"><i class="material-icons md-public"></i></a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                <a class="dropdown-item text-brand" href="#"><img src="/assets/imgs/theme/flag-us.png"
                    alt="English" />English</a>
                <a class="dropdown-item" href="#"><img src="/assets/imgs/theme/flag-fr.png"
                    alt="Français" />Français</a>
                <a class="dropdown-item" href="#"><img src="/assets/imgs/theme/flag-jp.png" alt="Français" />日本語</a>
                <a class="dropdown-item" href="#"><img src="/assets/imgs/theme/flag-cn.png" alt="Français" />中国人</a>
              </div>
            </li>
            <li class="dropdown nav-item">
              <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">
                <img class="img-xs rounded-circle" src="/assets/imgs/people/avatar-2.png" alt="User" /></a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                  Profile</a>
                <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </header>
      <section class="content-main" id="reloadPage">
        <div class="row">
          <div class="col-9">
            <div class="content-header">
              <h2 class="content-title">Add New Sub Category</h2>

            </div>
          </div>
          <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <form onsubmit="event.preventDefault()">
                  <div class="mb-4 row align-items-center justify-content-center" style="position: relative; " id="titleDiv">
                    <div class="text-danger" id="titleError" style="position: absolute; top:0%;left: 36%;">
                    </div>
                    <label for="product_name" class="form-label">Category title</label>
                    <input type="text" placeholder="Type here" name="title" class="form-control" id="title" />
                  </div>
                  <div class="mb-4 row align-items-center justify-content-center" style="position: relative;" id="descriptionDiv">
                    <div class="text-danger" id="descriptionError" style="position: absolute; top:0%;left: 36%;">
                    </div>
                    <label class="form-label">Category Description</label>
                    <input type="text" name='description' placeholder="Enter description" class="form-control"
                      id="description" />
                  </div>
                  <div>
                    <button type="button" onclick="sendMessage()" class="btn btn-sm btn-primary text-end mt-2">
                      Add
                    </button>
                  </div>
                </form>
              </div>
            </div>

            <!-- card end// -->
          </div>
        </div>
      </section>
      <!-- content-main end// -->
      <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
          <div class="col-sm-6">
            <script>
              document.write(new Date().getFullYear());
            </script>
            &copy; CartFy - World's No. 1
          </div>
          <div class="col-sm-6">
            <div class="text-sm-end">All rights reserved</div>
          </div>
        </div>
      </footer>
    </main>
    <script src="node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/select2.min.js"></script>
    <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assets/js/main.js?v=1.1" type="text/javascript"></script>
    <script>

      function sendMessage() {
        let title = document.getElementById("title")
        let description = document.getElementById("description")

        let titleError = document.getElementById("titleError")
        let descriptionError = document.getElementById("descriptionError")

        if (title.value.trim() === "") {
          title.style.border = "solid 1px red";
          titleError.innerText = "Title is a required field"
          titleDiv.scrollIntoView({
            behavior: "smooth",
            block: 'center',
            inline: "center"
          });
          setTimeout(function () {
            title.style.border = "";
            titleError.innerText = ""
          }, 3000);


          return false;
        }
        if (title.value.trim().length < 3) {
          title.style.border = "solid 1px red";
          titleError.innerText = "Title should be 3 charector long "
          titleDiv.scrollIntoView({
            behavior: "smooth",
            block: 'center',
            inline: "center"
          });
          setTimeout(function () {
            title.style.border = "";
            titleError.innerText = ""
          }, 3000);

          return false;
        } else if (
          description.value.trim() === "" ||
          description.value.trim().length < 20
        ) {
          if (description.value.trim() === '') {
            description.style.border = "solid 1px red";
            descriptionError.innerText = "Description should not be Empty "
            descriptionDiv.scrollIntoView({
              behavior: "smooth",
              block: 'center',
              inline: "center"
            });
            setTimeout(function () {
              description.style.border = "";
              descriptionError.innerText = ""
            }, 3000);

          }
          else {
            description.style.border = "solid 1px red";
            descriptionError.innerText = "Description should be 20 charector long "
            descriptionDiv.scrollIntoView({
              behavior: "smooth",
              block: 'center',
              inline: "center"
            });
            setTimeout(function () {
              description.style.border = "";
              descriptionError.innerText = ""
            }, 3000);

          }

          return false;
        }

        console.log(title, description)

        let data =  { title: title.value, description: description.value };

        

          fetch("/api/v1/admin/sub-categories/add-subCategory", {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
              'Content-Type': 'application/json',

            }

          }).then(response => response.json())
            .then(response => {
              if (response.success) {
                Swal.fire({
                  title: "Saved!",
                  text: response.message,
                  icon: "success",
                  showConfirmButton: false,
                  timer: 3000,
                });

                setTimeout(() => {
                  window.history.back(-1);
                },3100)

              }else if(response.error) {
                
                  Swal.fire({
                    title: response.error,
                    icon: "warning",
                    showConfirmButton: false,
                    timer: 1500,
                  })
              }
            })

          
        

      }



    </script>
</body>

</html>