<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cartfy - Reset Password</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/icons/site.html">
    <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <%-include('../partials/loginHeader')%>
    <div class="login-page bg-image pt-1 pb-1 pt-md-1 pb-md-1 pt-lg-17 pb-lg-17 " style="background-image: url('/assets/images/backgrounds/login-bg.jpg')">
        <div class="container ">
            <div class="form-box  " style="border-radius: 10px;">
                <% if(messages.resetError ) {%>
                    <div id="error-div" class="alert text-danger fw-bold bg-light rounded text-center important border border-danger" role="alert"><%= messages.resetError  %></div>
                <%}%>
                <div class="form-tab ">
                    <ul class="nav nav-pills nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="reset-tab" data-toggle="tab" href="#reset" role="tab" aria-controls="reset" aria-selected="true">Reset Password</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="reset" role="tabpanel" aria-labelledby="reset-tab">
                            <form action="/api/v1/reset-password" method="post">
                                <div class="form-group">
                                    <label for="new-password">New Password *</label>
                                    <input type="password" class="form-control" id="new-password" name="password" required>
                                </div><!-- End .form-group -->

                                <div class="form-group">
                                    <label for="confirm-password">Confirm Password *</label>
                                    <input type="password" class="form-control" id="confirm-password" name="confirmPassword" required>
                                </div><!-- End .form-group -->

                                <div class="form-footer row">
                                    <button type="submit" class="btn btn-outline-primary-2 col-5 rounded">
                                        <span>RESET PASSWORD</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                    <a href="/api/v1/signin" class="forgot-link col-6 rounded">Back to Login</a>
                                </div><!-- End .form-footer -->
                            </form>
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
        </div><!-- End .container -->
    </div><!-- End .login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17 -->
    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>
    <script>
        setTimeout(() => {
            document.getElementById("error-div").remove();
        },3500)
    </script>
    <%-include( '../partials/userFooter')%>
</body>

</html>
