<!DOCTYPE html>


<html lang="en">


<!-- Cartfy/index-17.html  22 Nov 2019 10:00:25 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>KartFy - Online shopping </title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="KartFy - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/demos/demo-6/logo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/demos/demo-6/logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/demos/demo-6/logo.png">
    <link rel="manifest" href="/assets/images/icons/site.html">
    <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/demos/demo-6/logo.png">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/skins/skin-demo-17.css">
    <link rel="stylesheet" href="/assets/css/demos/demo-17.css">
    <script src="https://kit.fontawesome.com/b5f8202a71.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="page-wrapper ">
        <header class="header header-6 ">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <ul class="top-menu top-link-menu d-none d-md-block">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li><a href="tel:+91 9744491844"><i class="icon-phone"></i>Call: +91 9744491844 </a>
                                    </li>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="social-icons social-icons-color">
                            <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i
                                    class="icon-facebook-f"></i></a>
                            <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i
                                    class="icon-twitter"></i></a>
                            <a href="#" class="social-icon social-instagram" title="Pinterest" target="_blank"><i
                                    class="icon-instagram"></i></a>
                            <a href="#" class="social-icon social-pinterest" title="Instagram" target="_blank"><i
                                    class="icon-pinterest-p"></i></a>
                        </div><!-- End .soial-icons -->
                        <ul class="top-menu top-link-menu">
                            <li>
                                <a href="#">Links</a>

                            </li>
                        </ul><!-- End .top-menu -->
                        <div>About Us.</div>


                    </div><!-- End .header-right -->
                </div>
            </div>
            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                            <a href="" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="/api/v1/shop" method="get" aria-disabled="true">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Search</label>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                    <input type="search" class="form-control" name="q" id="q"
                                        placeholder="Search product ..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                    </div>
                    <div class="header-center">
                        <a href="/api/v1/" class="logo">
                            <img src="/assets/images/demos/demo-6/logo.png" alt="Molla Logo" width="82" height="20">
                        </a>
                    </div><!-- End .header-left -->
                    <div class="header-right">
                        <i class="la la-lightbulb-o fs-4"></i>
                        <p class="m-3 fs-4">Clearance<span class="highlight fw-bold">&nbsp;Up to 30% Off</span></p>
                    </div>

                </div><!-- End .container -->

            </div><!-- End .header-middle -->
            <style>
                #toggleButton{
                    
                    background: none;
                    border: none;
                    cursor: pointer;
                    position: absolute;
                    right: 2%;
                    top: 75%;
                    transform: translateY(-50%);
                }

                #toggleButton i{
                    color: #999;
                    font-weight: bold;
                }






            </style>


        </header><!-- End .header -->


        <body>
            <div class="login-page bg-image pt-1 pb-1 pt-md-1 pb-md-1 pt-lg-17 pb-lg-17"
                style="background-image: url('/assets/images/backgrounds/login-bg.jpg')">
                <div class="container">
                    <div class="form-box" style="border-radius: 10px;">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin"
                                        role="tab" aria-controls="signin" aria-selected="true">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                    aria-labelledby="signin-tab">
                                    <div style="display: none;" id="main-error" class="alert text-danger fw-bold bg-light rounded text-center  border border-danger" role="alert"></div>
                                    <form>
                                        <div class="form-group row align-items-center justify-content-center" style="position: relative;">
                                            <label for="name">Username *</label>
                                            <div class="text-danger" id="nameError"
                                                style="position: absolute; top: 20% ;">
                                            </div>

                                            <input type="text" class="form-control" id="name" name="name" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group row align-items-center justify-content-center" style="position: relative;">
                                            <label for="email">Email address *</label>
                                            <div class="text-danger" id="emailError"
                                                style="position: absolute; top:20%;">
                                            </div>

                                            <input type="text" class="form-control" id="email" name="email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group row align-items-center justify-content-center" style="position: relative;">
                                            <label for="password">Password *</label>
                                            <!-- <input
                                            type="checkbox" onclick="show()"
                                            style="position: absolute; top: 66%; left: 95%;"> -->
                                            <button id="toggleButton"> <i class="fa fa-eye" aria-hidden="true"></i></button>
                                            <div class="text-danger" id="passwordError"
                                                style="position: absolute;  top:20%;">
                                            </div>

                                            <input type="password" class="form-control" id="password" name="password"
                                                placeholder="* Must have 1 upper 1 lower 1 special charector" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group row align-items-center justify-content-center" style="position: relative;">
                                            <label for="confirm-password">Confirm Password *</label>
                                            <div class="text-danger" id="confirmPasswordError"
                                                style="position: absolute; top:20%;">
                                            </div>

                                            <input autocomplete="new-password" type="password"
                                                class="form-control rounded" id="confirm-password"
                                                name="confirmPassword" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer row mt-2">
                                            <button onclick="validateAndSubmit()"type="button"
                                                class="btn btn-outline-primary-2 col-4 mx-3 rounded">
                                                <span>Submit</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>


                                            <a href="/api/v1/signin" class="forgot-link col-6">Already Have an Account?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice my-0">

                                        <div class="row">
                                            <div class="col-sm-12 text-center ">
                                                <a href='/google' class="btn btn-login btn-g rounded">
                                                    <i class="icon-google"></i>
                                                    Sign up With Google
                                                </a>
                                            </div><!-- End .col-6 -->

                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .container -->
            </div><!-- End .login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17 -->
            <!-- Plugins JS File -->
            <script src="/javascript/authenticaions.js"></script>
            <script src="/assets/js/jquery.min.js"></script>
            <script src="/assets/js/bootstrap.bundle.min.js"></script>
            <script src="/assets/js/jquery.hoverIntent.min.js"></script>
            <script src="/assets/js/jquery.waypoints.min.js"></script>
            <script src="/assets/js/superfish.min.js"></script>
            <script src="/assets/js/owl.carousel.min.js"></script>
            <!-- Main JS File -->
            <script src="/assets/js/main.js"></script>
            <script>
                const password = document.getElementById('password');
                const toggleButton = document.getElementById('toggleButton');


                toggleButton.addEventListener('click', function(event) {
                    event.preventDefault()

                    if(password.type === 'password') {
                        password.type = 'text';
                        toggleButton.innerHTML = '<i class="fa fa-eye-slash" aria-hidden="true"> </i>';
                    } else {
                        password.type = 'password';
                        toggleButton.innerHTML = '<i class="fa fa-eye" aria-hidden="true"></i>';
                    }
                })
                    






            </script>
            <%-include( '../partials/userFooter' )%>
        </body>

</html>